.hero_title {
  font-size: var(--scale-5);
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: var(--scale-5);

  &.hero_title {
    font-size: var(--scale-7);
  }
}

h2 {
  font-size: var(--scale-4);

  &.hero_title {
    font-size: var(--scale-5);
  }
}

h3 {
  font-size: var(--scale-3);

  &.hero_title {
    font-size: var(--scale-4);
  }
}

.text_dark {
  color: var(--color-black);
}

.text_light {
  color: var(--color-white);
}
