---
import Layout from '@layouts/Layout.astro'
import CustomBorderSec from '@components/customBorderSec.astro'
import ContactSec from '@components/contactSec.astro'
import { getCollection } from 'astro:content'
import PostSearch from '@components/vue/postSearch.vue'
import { compareDesc as compareDescDate } from 'date-fns'

const blogPosts = await getCollection('blog', ({ data }) => {
  return data.draft !== true;
})

const posts = []
for (const post of blogPosts) {
	const { slug, data } = post
	const date = new Date(data.date)
	posts.push({
		title: data.title,
		url: `/blog/${slug}`,
		img: data.postImg,
		date,
		excerpt: data.excerpt
	})
}

posts.sort((a, b) => {
	return compareDescDate(a.date, b.date)
})
---

<Layout title="Michael Erb Blog" description='Michael Erb technical blog in anyhting relating to software and the web.'>
	<header class="hero">
		<div class="hero_inner container">
			<div class="hero_title_area">
				<div class="hero_titles">
					<h1 class="hero_title">Blog</h1>
					<h2 class="hero_title">Musings of a mad man</h2>
				</div>
			</div>
		</div>
	</header>

	<main>
		<CustomBorderSec top="curve_blue">
			<PostSearch posts={posts} client:visible />
		</CustomBorderSec>

		<ContactSec />
	</main>
</Layout>

<style lang="postcss">
	@import '../styles/mediaQueries.pcss';

	.hero {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		min-height: 300px;

		& .hero_inner {
			padding-top: var(--size-8);
			padding-bottom: var(--size-8);

			@media (--md) {
				& {
					padding-top: var(--size-16);
					padding-bottom: var(--size-16);
				}
			}
		}

		& .hero_title_area {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-wrap: wrap;

			& .hero_home_titles {
				flex: 1 1 auto;
				order: 2;
			}
		}
	}

	.posts_sec {
		min-height: 500px;
		padding-top: var(--size-2);
		padding-bottom: var(--size-6);
		min-height: 600px;
	}
</style>
