---
import Layout from '@layouts/Layout.astro'
// import SecTitle from '@components/secTitle.astro'
import ContactForm from '@components/vue/contactUs.vue'
import { Image } from 'astro:assets'
import ProfileImg from '@imgs/merb-main.jpg'
import heroImg from '@imgs/merb-og-home-min.png'

const hero = {
	url: heroImg.src,
	width: heroImg.width,
	height: heroImg.height
}
---

<Layout title="Contact Michael Erb" description='Send a message to Michael Erb about a question or if you have a project in mind' hero={hero}>
	<section class="hero">
		<div class="hero_inner container">
			<div class="hero_title_area">
				<div class="hero_titles">
					<h1 class="hero_title">Let's start a conversation</h1>
				</div>
				<div class="hero_profile">
					<Image src={ProfileImg} alt="Michael Erb" width="150" height="150" />
				</div>
			</div>
		</div>
	</section>

	<main>
		<section class="container">
			<ContactForm client:only="vue" />
		</section>
	</main>
</Layout>

<style lang="postcss">
	@import '@styles/mediaQueries.pcss';

	section.hero {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		min-height: 340px;

		& .hero_inner {
			padding-top: var(--size-8);
			padding-bottom: var(--size-8);

			@media (--md) {
				padding-top: var(--size-16);
				padding-bottom: var(--size-16);
			}
		}

		& .hero_title_area {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-wrap: wrap;

			& .hero_titles {
				flex: 0 0 50%;
				order: 2;
			}

			& .hero_profile {
				flex: 0 0 auto;
				order: 1;

				margin-right: var(--size-4);

				& img {
					width: 150px;
					height: 150px;
					border-radius: 999px;
					border: 6px solid var(--color-orange);
					background-color: var(--color-grey-300);

					display: flex;
					text-align: center;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}
</style>
