---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<header class="hero_home container">
		<div class="hero_home_inner">
			<div class="">
				<h1 class="hero_title">I'm Michael Erb</h1>
				<h2 class="hero_title">A Fullstack Engineer</h2>
			</div>
			<p>Ready to bring your idea to life, start to finish 🤙</p>
		</div>
	</header>

	<main>

	</main>
</Layout>
