---
import { Icon } from 'astro-icon/components'

export interface Props {
	href?: string
	icon?: string
	class?: string
}

const { href, icon, class: className } = Astro.props

const Element = href ? 'a' : 'button'
---

<Element class:list={['btn', className]} href={href}>
	<span><slot/></span>
	{icon ? <Icon name={`lucide:${icon}`} /> : ''}
</Element>
