---
import SecTitle from '@components/secTitle.astro'
import Btn from '@components/btn.astro'

export interface Props {
	num?: number | string
}

const { num } = Astro.props
const secNum = num ?? 2
---

<section class="contact_sec container">
	<SecTitle num={secNum} align="right" removeUnderline={true}>Let's get started together</SecTitle>
	<div class="btn_wrap __right">
		<Btn href="/contact">Let's Start Talk'in</Btn>
	</div>
</section>

<style lang="postcss" is:global>
	@import '../styles/mediaQueries.pcss';

	.contact_sec {
		padding-top: var(--size-12);
		padding-bottom: var(--size-12);

		& .btn_wrap {
			margin-top: var(--size-12);
		}

		@media (--sm) {
			& {
				padding-top: var(--size-2);
				padding-bottom: var(--size-2);
			}
		}
	}
</style>
