---
export interface Props {
	id?: string;
	num?: string;
	removeUnderline?: boolean;
	align?: string;
}

const { id, num, removeUnderline, align } = Astro.props;
---

<div id={id || ''} class:list={['sec_title', {'__no_underline': removeUnderline}, {'__right': align === 'right'}]}>
	<h3><slot />{num !== undefined ? <span class="super">/0{num}</span> : ''}</h3>
</div>

<script>
</script>

<style lang="postcss">
	.sec_title {
		padding: var(--size-2) 0 var(--size-6);

		& h3 {
			display: inline-block;
			text-transform: uppercase;
			font-size: var(--scale-8);
			line-height: 1;
			position: relative;

			&::after {
				content: '';
				position: absolute;
				bottom: -10px;
				left: 20%;
				width: 110%;
				height: 6px;
				border-radius: 99px;
				background-color: var(--color-blue);
				user-select: none;
			}
		}

		& .super {
			position: absolute;
			font-size: var(--scale-00);
			top: 0;
			right: -34px;
			user-select: none;
		}

		&.__no_underline {
			& h3::after {
				content: none;
			}
		}

		&.__right {
			& h3 {
				text-align: right;
			}
		}
	}
</style>
