---
import '@styles/main.pcss'
// import '@fontsource/ubuntu/500.css'
// import '@fontsource/ubuntu/700.css'
// import '@fontsource/ubuntu-mono/400.css'
// import '@fontsource/ubuntu-mono/700.css'
import Navigation from '@components/navigation.astro'
export interface Props {
	title: string;
}

const { title } = Astro.props;
const menuList = [
	{
		label: 'Home',
		path: '/'
	},
	{
		label: 'About',
		path: '/about'
	},
	{
		label: 'Contact',
		path: '/contact'
	},
	{
		label: 'Blog',
		path: '/blog'
	}
]

const socialList = [
	{
		label: 'linkedin',
		path: import.meta.env.PUBLIC_LINKEDIN,
		img: ''
	},
	{
		label: 'github',
		path: import.meta.env.PUBLIC_GITHUB,
		img: ''
	},
	{
		label: 'twitter',
		path: import.meta.env.PUBLIC_TWITTER,
		img: ''
	}
]
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navigation menuList={menuList} socialList={socialList} />

		<slot />
	</body>
</html>
