---
import { formatISO, format as formatDate } from 'date-fns'

export interface Props {
	siteName: string,
	title: string,
	description: string,
	hero?: {
		url: string,
		width?: number,
		height?: number
	},
	canonical: string,
	postMeta?: {
		date: Date,
		author: {
			name: string,
			url: string
		},
		postBody?: string
	},
	keyWords?: Array<string>
}

const { siteName, title, description, hero, canonical, postMeta, keyWords } = Astro.props
const siteURL = import.meta.env.SITE ? new URL(import.meta.env.SITE) : Astro.url
const heroURL = hero?.url ? new URL(hero.url, siteURL.origin) : false
const schemaResult = postMeta ? postSchema() : pageSchema()

function pageSchema () {
	const result = {
		"@context": "http://schema.org",
		"@type": "WebPage",
		"image": heroURL ? heroURL.href : '',
		"name": title,
		"description": description,
		"inLanguage": "en-US",
		"isFamilyFriendly": "true",
		"keywords": keyWords ?? undefined
	}

	return JSON.stringify(result, null, 2)
}

function postSchema () {
	const dateCreatedISO = formatISO(postMeta.date)

	const result = {
		"@context":"http://schema.org",
		"@type": "BlogPosting",
		"image": heroURL ? heroURL.href : '',
		"url": canonical,
		"headline": title,
		"dateCreated": dateCreatedISO,
		"datePublished": dateCreatedISO,
		"dateModified": dateCreatedISO,
		"inLanguage": "en-US",
		"isFamilyFriendly": "true",
		"copyrightYear": formatDate(postMeta.date, 'yyyy'),
		"accountablePerson": {
			"@type": "Person",
			"name": postMeta?.author.name,
			"url": postMeta?.author.url
		},
		"author": {
			"@type": "Person",
			"name": postMeta?.author.name,
			"url": postMeta?.author.url
		},
		"creator": {
			"@type": "Person",
			"name": postMeta?.author.name,
			"url": postMeta?.author.url
		},
		"publisher": {
			"@type": "Organization",
			"name": postMeta?.author.name,
			"url": postMeta?.author.url,
			"logo": {
				"@type": "ImageObject",
				"url": `${import.meta.env.SITE}/m-logo-circle.svg`,
				"width":"150",
				"height":"150"
			}
		},
		"mainEntityOfPage": "True",
		"keywords": keyWords ?? undefined,
		"genre":["programming","javascript","web developer"],
		"articleSection": "Uncategorized posts",
		"articleBody": postMeta.postBody
	}

	return JSON.stringify(result, null, 2)
}

const outputJSONLD = `<script type="application/ld+json">${schemaResult}</script>`
---

<title>{ title }</title>
<meta name="description" content={ description }>
<link rel="canonical" href={ canonical }>

{/* More on Open Graph: https://ogp.me/ */}
<meta property="og:site_name" content={ siteName }>
{ canonical ? <meta property="og:url" content={ canonical } /> : ''}
{ title ? <meta property="og:title" content={ title } /> : ''}
{ description ? <meta property="og:description" content={ description } /> : ''}
<meta property="og:type" content="website" />

{ heroURL ? <meta property="og:image" content={ heroURL.href }/> : ''}
{ hero?.width ? <meta property="og:image:width" content={ String(hero.width) } /> : ''}
{ hero?.height ? <meta property="og:image:hight" content={ String(hero.height) } /> : ''}

<meta name="twitter:card" content="summary" />
{ title ? <meta name="twitter:title" content={ title } /> : ''}
{ description ? <meta name="twitter:description" content={ description } /> : ''}
{ siteURL.hostname ? <meta name="twitter:domain" content={ siteURL.hostname } /> : ''}
{ siteURL.origin ? <meta name="twitter:url" content={ siteURL.origin } /> : ''}
{ heroURL ? <meta name="twitter:image" content={ heroURL.href } /> : ''}

{/* JSON-LD */}
<Fragment set:html={ outputJSONLD } />
