---
import { formatISO, format as formatDate } from 'date-fns'

export interface Props {
	siteName: string,
	title: string,
	description: string,
	hero?: {
		url: string,
		width?: number,
		height?: number
	},
	canonical: string,
	postMeta?: {
		date: Date,
		author: {
			name: string,
			url: string
		},
		postBody?: string
	},
	keyWords?: Array<string>
}

const { siteName, title, description, hero, canonical, postMeta, keyWords } = Astro.props
const schemaResult = postMeta ? postSchema() : pageSchema()
if (hero.url && import.meta.env.SITE) hero.url = `${import.meta.env.SITE}${hero.url}`

function pageSchema () {
	const result = {
		"@context": "http://schema.org",
		"@type": "WebPage",
		"name": title,
		"description": description,
		"inLanguage": "en-US",
		"isFamilyFriendly": "true",
		"keywords": keyWords ?? undefined
	}

	return JSON.stringify(result, null, 2)
}

function postSchema () {
	const dateCreatedISO = formatISO(postMeta.date)

	const result = {
		"@context":"http://schema.org",
		"@type": "BlogPosting",
		"image": hero.url,
		"url": canonical,
		"headline": title,
		"dateCreated": dateCreatedISO,
		"datePublished": dateCreatedISO,
		"dateModified": dateCreatedISO,
		"inLanguage": "en-US",
		"isFamilyFriendly": "true",
		"copyrightYear": formatDate(postMeta.date, 'yyyy'),
		"accountablePerson": {
			"@type": "Person",
			"name": postMeta.author.name,
			"url": postMeta.author.url
		},
		"author": {
			"@type": "Person",
			"name": postMeta.author.name,
			"url": postMeta.author.url
		},
		"creator": {
			"@type": "Person",
			"name": postMeta.author.name,
			"url": postMeta.author.url
		},
		"publisher": {
			"@type": "Organization",
			"name": postMeta.author.name,
			"url": postMeta.author.url,
			"logo": {
				"@type": "ImageObject",
				"url": `${import.meta.env.SITE}/m-logo-circle.svg`,
				"width":"150",
				"height":"150"
			}
		},
		"mainEntityOfPage": "True",
		"keywords": keyWords ?? undefined,
		"genre":["programming","javascript","web developer"],
		"articleSection": "Uncategorized posts",
		"articleBody": postMeta.postBody
	}

	return JSON.stringify(result, null, 2)
}

const outputJSONLD = `<script type="application/ld+json">${schemaResult}</script>`
---
<title>{ title }</title>
<meta name="description" content={ description }>
<link rel="canonical" href={ canonical }>

{/* More on Open Graph: https://ogp.me/ */}
<meta property="og:site_name" content={ siteName }>
<meta property="og:url" content={ canonical } />
<meta property="og:title" content={ title } />
<meta property="og:description" content={ description } />
<meta property="og:type" content="website" />

{ hero?.url ? <meta property="og:image" content={ hero.url }/> : ''}
{ hero?.width ? <meta property="og:image:width" content={ String(hero.width) } /> : ''}
{ hero?.height ? <meta property="og:image:hight" content={ String(hero.height) } /> : ''}

{ title ?
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content={ title } />
	<meta name="twitter:description" content={ description } />
: ''}

{/* JSON-LD */}
<Fragment set:html={ outputJSONLD } />


<!-- <title>Michael Erb Portflio</title>
<meta name="description" content="Portfolio for Fullstack Engineer Michael Erb with over 7 years of professional experience in the industry with a diverse set of skills and expertise.">

<meta property="og:url" content="https://merb.dev">
<meta property="og:type" content="website">
<meta property="og:title" content="Michael Erb Portflio">
<meta property="og:description" content="Portfolio for Fullstack Engineer Michael Erb with over 7 years of professional experience in the industry with a diverse set of skills and expertise.">
<meta property="og:image" content="">

<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="merb.dev">
<meta property="twitter:url" content="https://merb.dev">
<meta name="twitter:title" content="Michael Erb Portflio">
<meta name="twitter:description" content="Portfolio for Fullstack Engineer Michael Erb with over 7 years of professional experience in the industry with a diverse set of skills and expertise.">
<meta name="twitter:image" content=""> -->
